@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  min-height: 100vh;  
}

#header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10000;
} 
.title
{
  position: absolute;
  width: 500px;
  height: 130px;
  z-index: 2;
  margin-top: -45vh;
}
/* .tech 
{
  position: absolute;
  color: rgb(255, 255, 255);
  font-size: 10vh;
  text-align: center;
  line-height: 0.55em;
  z-index: 1;
  top: 20vh;
  font-weight: bolder;
} */
#header ul
{
  display: flex;
  justify-content: center;
  align-items: center;
}
.contactli
{
  background-color: red;
  border-radius: 5px;
  padding: 10px;
  text-decoration: none;
  color: white;
  margin-right: -70px;
}
.contactli:hover
{
  background-color: white;
  color: orangered;
}

#header ul li
{
  list-style: none;
  margin-left: 20px;
}

#header ul li a
{
  text-decoration: none;
  padding: 6px  15px;
  color: white  ;
  border-radius: 20px ;
}

#header ul li a:hover ,
#header ul li a.active
{
  background-color: white;
  color: gray;
}

.bridges{
  z-index: 4;
  position:absolute;
  width: 100%;
  display: flex;
  justify-content:left;
  align-items: end;
  height:100vh;
  bottom: 0;
}
.bridges img{
  width: 21%;
  margin-bottom: -2vh;
  margin-left: -5vw;
}


.chauve img
{
  width: 60px;
  height: 50px;
  margin:270px;
  margin-bottom: 420px;
}

.chauve
{
  z-index: 1;
}

.cursor
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
  /* background: red; */
  border-radius: 50%;
  pointer-events: none;
  cursor: none;
  z-index: 30;
}

.hide-cursor
{
  cursor: none;
}

.cloud
{
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  justify-content: center;
  align-items: center ;  
}

.cloud img
{
  height: 100%;
   width: 100%; 
   object-fit: cover;
   
}

.container img{
  object-fit: cover;
  height: 80%;
  margin-top: -18vh;
}

.container{
  z-index: 2;
  position:absolute;
  width: 100%;
  height:100vh;
  display: flex;
  justify-content:center;
}

.inverse {
  background-color: black;
  z-index: 30;
  clip-path: circle(100px at var(--x) var(--y));
  box-shadow: 0 0 5px 10px #555;
}

.my-orange
{
  min-width: 100vw;
  position:absolute;
  width: 100%;
  
} 
.my-orange img{
  width: 100%;
}

.p_title
{
  text-align: center;
  color:#251E85;;
  font-size: 25px;
  font-weight:bold ;
}

#primary_id
{
  background-color: #f4971e;
  position: relative;
}

.prime:hover ~ .cursor  {
  transform: scale(2);
}

.rivers{
  z-index: 3;
  position:absolute;
  width: 100%;
  display: flex;
  justify-content:center;
  align-items: end;
  height:100vh;
  bottom: -2vh;
}
.rivers img{
  width: 100vw;
  height: 60%;
}

.sec{
  position: relative;
  padding: 100px;
  background: white;
}


section {
  position: relative;
  width: 100%;
  height: 120vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-attachment: fixed;
  background-size: cover;
  z-index: 10;
}

section::before{
  content:'' ;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(to top, rgb(255, 255, 255),transparent);
  z-index: 10 ;
  /* clip-path: circle(40px at center); */
}

.section_principal
{
  display: flex;
}

.section_principal p
{
  font-size: 15px;
  color: #151439;
  width: 450px;
  margin-top: 30px;
}

.section_principal svg
{
 width: 40%;
 height: 30%;
 margin-left: 150px;
 
}

.second_section
{
  display: flex;
  margin-top: 40vh;
}
.second_section h3
{
  margin-top: 3vh;
  margin-bottom: 4vh;
}
.second_section h2
{
  color: #251E85;
  
}

.chips{
  width: 350px;
  height: 350px;
  position: absolute;
}

.service1
{
  display: flex;
  margin-left: 30vw;
  margin-top: 10vh;
}

.services_it
{
  border-radius: 0px 0px 20px 20px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
  margin-right: 3vw;
  text-align: center;
  font-size: 13px;
  width: 20vw;
  height: 50vh;
  
}

.services_it img
{
  width: 50px ;
  height: 50px;
  
}

.service_integration
{
  border-radius: 0px 0px 20px 20px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
  text-align: center;
  font-size: 13px;
  width: 20vw;
  height: 50vh;
 
}
.service_integration img
{
  width: 50px ;
  height: 50px;
}

.service2
{
  display: flex;
  margin-left: 30vw;
}
.service_web360 img
{
  width: 50px ;
  height: 50px;
}

.service_web360
{
  margin-top: 10vh;
  border-radius: 0px 0px 20px 20px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
  margin-right: 3vw;
  text-align: center;
  font-size: 13px;
  width: 20vw;
  height: 50vh;
}
.service_expertise img
{
  width: 50px ;
  height: 50px;
}

.service_expertise
{
  margin-top: 10vh;
  border-radius: 0px 0px 20px 20px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
  text-align: center;
  font-size: 13px;
  width: 20vw;
  height: 50vh;
}

.theme_text span
{
  color: rgb(226, 60, 165);
}
.theme_text button
{
  border: none;
  color: white;
  padding: 10px 50px 10px 50px;
  border-radius: 10px;
  background-color:#FF4E4E ;
  margin-top: 20px;
}

.theme_text button:hover
{
 background-color: #f4971e;
}

.third_section h2
{
  text-align: center;
  margin-top: 40vh;
}
.theme{
  position: relative ;
  display: flex;
}

.text_image img
{
  width: 25vw;
  height: 25vw;
}
.theme_text
{
  margin-right: 10vw;
  margin-left:15vw ;
  margin-top: 100px;
}

.theme_text p
{
  font-size: 20px;
}

.partner h2
{
  text-align: center;
  margin-bottom: 10vh  ;
}
.first_partner
{
  position: absolute;
  display: flex;
  height: 65px;
  width: 65px;
  margin-left: 16vw;
}

.second_partner
{
  display: flex;
  height: 50px;
  width: 50px;
  margin-left: 16vw;
  margin-top: 30vh;
}

.second_partner img
{
  margin-right: 5vw;

}

.mediafrance
{
  height: 40px;
}

.first_partner img
{
  margin-right: 5vw;
}
.contacting
{
  position: relative;
  display: flex;
  margin-left: 10vw;
  margin-top: 10vh;
}
.contacting img
{
  width: 25vw;
  height: 40vh;
  margin-right: 10vw;
  margin-top: 15vh;
}

.contact p
{
  text-align: center;
  margin-top: 10vh;
  font-size: 30px;
  font-weight:bold ;
  
}

.myform input
{
  border-radius: 5px;
  padding: 10px;
  width: 35vw;
  margin-top: 3vh;
  border-color: gray;
}

.form_last input
{
  border-radius: 5px;
  padding: 10px;
  width: 35vw;
}

textarea
{
  border-radius: 10px;
  margin-top: 3vh;
  padding-top: 50px;
  padding-left: 20px;
}
.form_email input
{
  border-radius: 5px;
  padding: 10px;
  width: 35vw;
}
form button
{
  border: none;
  color: white;
  padding: 10px 50px 10px 50px;
  border-radius: 10px;
  background-color:#FF4E4E ;
  margin-top: 10px;
}
.footer1
{
  position: relative;
  display: flex;
}
.footer1_items
{
  display: flex;
  margin-top: 1vh;
}
.footer1_items a
{
  text-decoration: none;
  color: gray;
}
.footer1_items a:hover
{
  color:red;
}
.footer1_items
{
  text-indent: 50px;
}
 .footer1 img
{
width: 150px;
height: 50px;
margin-right: 30vw;
margin-left: 10vw;
}
.footer2
{
  position: relative;
  display: flex;
}
.footer2_1 img
{
  width: 25px;
  height: 25px;
  margin: 0.2em;
}
/* .instagram:hover {
  color: #e11d74;
}

.twitter:hover {
  color: #00adb5;
}
.linkedin:hover {
  color: #04009a;
} */
.footer_para
{
  width: 100%;
  margin-right: -20vw;
  text-align: center;
  font-size: 12px;
}
.footer_para a
{
  text-decoration: none;
  color: red;
}

